# fill by default local values
HOST = "localhost"
USER = "root"
PASSWORD = None
DB_NAME =
PORT = "3306"
LOCAL_DATABASE = f"mysql+pymysql://{USER}:{PASSWORD if PASSWORD else ''}@{HOST}:{PORT}/{DB_NAME}"