body {
  margin: 0;
  text-align: center;
}

main {
  padding-top: 25px;
}

ul.list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
}

h3 {
  font-size: 1.1rem;
}